<%= turbo_frame_tag dom_id(chirp_presenter.chirp) do %>
    <div class="py-3 px-3 chirp d-flex">
        <div class="flex-shrink-0">
            <%= image_tag chirp_presenter.avatar, size: "48x48", class: "rounded-circle" %>
        </div>
        <div class="flex-grow-1 ms-3">
            <p class="mb-0">
                <span class="fw-bold"><%= chirp_presenter.display_name %></span>
                <span class="text-secondary">@<%= chirp_presenter.username %> &middot <%= chirp_presenter.created_at%></span>
            </p>
            <p class="mb-0"> <%= chirp_presenter.body %> </p>
        </div>
    </div>
<% end %>