<aside class="col side-navbar">
    <%= link_to dashboard_path, class: "d-flex align-items-center fs-5 mb-2" do%>
        <div class="px-2 py-2 rounded-circle">
            <%= image_tag "bird.png", width: "42px"%>
        </div>
    <% end %>

    <%= link_to dashboard_path, class: "d-flex align-items-center fs-5 mb-2" do%>
        <div class="px-3 py-2 rounded-pill">
            <span class="me-4 position-relative" style="bottom: 3px;"> <%= image_tag "home.png", width: "32px"%></span>
            Home
        </div>
    <% end %>

    <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-2" do%>
        <div class="px-3 py-2 rounded-pill">
            <span class="me-4 position-relative" style="bottom: 3px;"> <%= image_tag "hashtag.png", width: "32px"%></span>
            Explore
        </div>
    <% end %>

    <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-2" do%>
        <div class="px-3 py-2 rounded-pill">
            <span class="me-4 position-relative" style="bottom: 3px;"> <%= image_tag "bell.png", width: "32px"%></span>
            Notifications
        </div>
    <% end %>

    <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-2" do%>
        <div class="px-3 py-2 rounded-pill">
            <span class="me-4 position-relative" style="bottom: 3px;"> <%= image_tag "message.png", width: "32px"%></span>
            Messages
        </div>
    <% end %>

    <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-2" do%>
        <div class="px-3 py-2 rounded-pill">
            <span class="me-4 position-relative" style="bottom: 3px;"> <%= image_tag "bookmark.png", width: "32px"%></span>
            Bookmarks
        </div>
    <% end %>

    <%= link_to root_path, class: "d-flex align-items-center fs-5 mb-2" do%>
        <div class="px-3 py-2 rounded-pill">
            <span class="me-4 position-relative" style="bottom: 3px;"> <%= image_tag "profile.png", width: "32px"%></span>
            Profile
        </div>
    <% end %>

    <div class="d-flex align-items-center fs-5 mb-4 px-3 py-2">
        <%= button_tag "Chirp", class: "btn btn-primary btn-lg w-100 rounded-pill"%>
    </div>

    <%= link_to destroy_user_session_path, data: { "turbo-method": :delete }, class: "d-flex align-items-center fs-9 mb-2" do%>
        <div class="px-3 py-2 rounded-pill">
            <%= "Log out #{current_user.username}" %>
        </div>
    <% end %>
</aside>